#signatureContainer {
    float: right;
}

#signatureContainer img {
    width: 440px;
    height: auto;
}

header {
  border-bottom: 2px solid #DCD0C0;
}

header nav {
    clear: right;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    padding: 2% 4%;
    display: inline;
    font-size: larger;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}
